<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="中渡，找导游">
    <meta name="description" content="中渡旅游">
    <title>金服</title>
    <link rel="stylesheet" href="../style/common.css" type="text/css">
</head>
<body>
<div id="wrap">
    <div class="top">
        <a href="../index.html"><img src="../images/finlogo.png" alt=""></a>
    </div>
    <div class="container">
        <p>广西中渡互联网金融服务有限公司（简称：中渡金服）创立于2015年。经过一年的快速发展，成为集投融资、创投、商业、旅游地产开发、实业实体投资、文旅产业改造、金融资产管理、景区运营等产业为主，横跨实业投资、高新技术、创意文化产业、物业管理服务、等领域的跨行业、跨地区经营的综合性现代化金融服务公司。中渡金服旗下共拥有多项投资项目，其中包括洛邑古城的景区运营、中渡国旅、餐饮酒店等。</p>
        <p>2016年，随着业务不断发展壮大，中渡金服对企业战略定位及未来中长期的发展进行了重新梳理，确立了集团“产业运营”的整体战略定位，通过战略运营由重资产向轻资产转型，实行“运营+资本”的双引擎发展模式，即以项目运营为基础，资本运营为助力，两大板块作为主要业务并行；坚持文化+旅游产业发展方向；坚持金融产业发展方向；强化投资产业方向。</p>
        <p>凭借着丰富的经验和雄厚的实力，公司业务范围已成功扩展至中国的黑龙江、河南，广西等地，以北京、南宁、洛阳为根基，面向多个经济区，积极向各中心城市纵深发展的市场策略，加快全国扩张的战略布局。</p>
    </div>
    <div class="bottom">
        <img src="../images/finlogo2.png" alt="">
    </div>
</div>
</body>
</html>