<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="中渡，找导游">
    <meta name="description" content="中渡旅游">
    <title>科技</title>
    <link rel="stylesheet" href="../style/common.css" type="text/css">
</head>
<body>
<div class="content">
    <div class="tfont">
        <img src="../images/tfont.png" alt="">
    </div>
    <div class="btn-area">
        <a href="" class="androidBtn"><img src="../images/andbtn.png" alt=""></a>
        <a href="" class="iosBtn"><img src="../images/iosbtn.png" alt=""></a>
    </div>
</div>
<script src="../script/jquery-3.0.0.min.js"></script>
<script src="../script/app.js"></script>
</body>
</html>