<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="中渡，找导游,中渡官网">
    <meta name="description" content="中渡旅游">
    <title>文旅</title>
    <link rel="stylesheet" href="../style/common.css" type="text/css">
</head>
<body>
<div id="wrap">
    <div class="header" id="imgID">
        <img src="../images/gf.png" class="gf" alt="">
        <img src="../images/gf2.png" class="gf2" alt="">
        <img src="../images/play.png" class="playBtn" alt="">
    </div>
    <div class="footer">
        <div class="list-area">
            <ul>
                <li class="tout_btn1">业态布局</li>
                <li class="tout_btn2">园区简介</li>
                <li class="tout_btn3">联系我们</li>
            </ul>
        </div>
        <div class="share-area bdsharebuttonbox">
            <ul>
                <li class="tout_btn4"><a href="#" class="bds_tsina" data-cmd="tsina" title=""></a><img src="../images/xinlang.png" alt=""></li>
                <li class="tout_btn5"><a href="#" class="bds_weixin" data-cmd="weixin" title=""></a><img src="../images/weixin.png" alt=""></li>
                <li class="tout_btn6"><a href="#" class="bds_sqq" data-cmd="sqq" title=""></a><img src="../images/qq.png" alt=""></li>
                <li class="tout_btn7"><a href="#" class="bds_tqq" data-cmd="tqq" title=""></a><img src="../images/tengxw.png" alt=""></li>
            </ul>
        </div>
        <div class="logo-area"><a href="../index.html"><img src="../images/logo.png" alt=""></a></div>
        <div class="companyName">洛阳中渡科技有限公司</div>
    </div>
</div>
<div class="layer">
</div>
<div class="layer-content">
    <div class="layer1"><img src="../images/finlogo.png" alt=""></div>
    <div class="layer2">
        <p>“洛邑”系洛阳古时的旧称，由古至今是华夏文明的代表，其被喻为“文化圣城”。以“洛邑”为名的古城改造项目作为河南省重点PPP项目，坐落于洛阳市老城区，项目一期分布在洛邑古城东南角。该项目东至新街，西至金业路，南至南护城河，北至中州东路，总规划面积系1360亩，总投资逾人民币127亿元。开发周期约10年，项目分为四期，首期规划建设面积280亩，主要建设有以中国古风为基调的休闲场所、居民住宅，一期景区内含文庙、安国寺、四眼井和妥灵宫等名胜古迹。</p>
        <p>洛邑古城在运营管理上融合应用北京中渡科技有限公司研发的先进管理技术，采用国内当下领先的大数据平台模式，集合大数据信息、互联网、物联网等技术。用先进的管理模式及大数据与互联网技术，实现洛阳古城游客、消费、商铺、景区、公共服务、咨询与投诉服务等集约化管理的信息采集、发布与调控。</p>
        <p>洛邑古城的建成、发展不仅将为洛阳带来巨大的经济效益与社会效益，更能以古城深厚的文化底蕴为依托，让世界看到中国文化之美。</p>
    </div>
    <div class="layer3"><img src="../images/lyfont.png" alt=""></div>
</div>
<div class="layer-content2">
    <img src="../images/phone.jpg" alt="">
</div>
<div class="layer-content3">
    <img src="../images/layerout.jpg" alt="">
</div>
<div class="layer-videoArea">
    <video src="../media/luoyi.mp4" controls></video>
</div>
<script src="../script/jquery-3.0.0.min.js"></script>
<script src="../script/app.js"></script>
<script>
    window._bd_share_config = {
        common : {
            bdText : '中渡',
            bdDesc : '洛邑古城',
            bdUrl : '自定义分享url地址'
        },
        share : [{
            "bdSize" : 16
        }]
    };
    with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion='+~(-new Date()/36e5)];
</script>
</body>
</html>